@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.list {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.item {
	border-bottom: 1px solid $color-neutral-200;
	margin-bottom: 32px;

	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}

	@include respond-mobile {
		margin-bottom: 24px;
	}
}

.question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 62px;
	gap: 24px;
	@include item-title;
	font-weight: 600;
	text-align: left;

	@include respond-mobile {
		min-height: 48px;
		gap: 16px;
	}
}

.icon {
	flex-shrink: 0;
}

.answer {
	margin-top: 16px;
	padding-right: 48px;
	@include body-md;
	line-height: 1.5;

	@include respond-mobile {
		padding-right: 0;
	}
}
