@use '../../../../styles/variables' as *;

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table {
	max-width: $content-width-comparison-lg;
	--comparison-columns: minmax(120px, 163px) minmax(0, 1.8fr) minmax(0, 1.4fr);
}
