@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: $content-width-list;

	@include respond-mobile {
		gap: 24px;
	}
}

.item {
	padding-top: 32px;
	border-top: 1px solid $color-neutral-200;

	&:first-child {
		border-top: none;
		padding-top: 0;
	}

	@include respond-mobile {
		padding-top: 24px;
	}
}

.itemHeader {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}

.itemTitle {
	@include item-title;
}

.itemText {
	@include card-body;
}
